.navdiv{
    padding-top: 50px;
width: 89%;
justify-content: center;
margin: auto;
   display: flex;
   justify-content: space-between;
 ul{
    display: flex;
    li {
        margin-left: 15px;
    }

 }
   
}