.headdiv {
    background-image: url("../../../../assets/images/Untitled\ design\ \(5\)\ 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 230px;
    margin: 70px auto;
    color: white;
    background-position: center;
    background-color: bisque;
h1{
    font-weight: bolder;
    font-size: 35px;
    padding-top: 50px;
    padding-right: 120px;
    
}
.headpages{
    margin-top: 20px;
}
}